.outer_container{
    display: flex;
    position: relative;
    top: 80px;
    width: 100vw;
    height: 93vh;
}

.whole_page{
    display: flex;
    flex-direction: column;
}

.emph{
    font-weight: 700;
    color: black;
}

.rect_container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}


.image_r{
    position: absolute;
    top: 15px;
    width: 100vw;
    height: auto;
}

.header_emph{
    color: #7000FF;
    z-index: -1;
}

.header_one{
    color: rgb(12, 12, 12);
    font-weight: 500;
    font-size: 4.6875rem;
    letter-spacing: -1px;
    line-height: 4.6875rem;
    width: 624px;

    letter-spacing: -3px;
    font-family: var(--font-space);
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif */
}
.class{
    font-family: var(--font-space);
}
.cta{
    display: flex;
    background-color: #7000FF;

    align-items: center;
    justify-content: center;

    height: 53px;
    width: 206px;

    border-radius: 100px;

    color: rgb(255, 255, 255);

    transition-duration: 0.2s;

    font-family: var(--font-lato);

    font-size: 20px;
    font-weight: 600;
}

.cta:hover{
    background-color: rgb(170, 0, 255);
    transition-duration: 0.2s;
}



.left_container{
    display: flex;

    width: 50vw;
    margin-left: 100px;
    /* align-items: center; */

}

.cta_container{
    margin-top: 20px;
    display: flex;
    gap: 46px;
}

.video{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    font-family: var(--font-lato);
    color:#7000FF;

    transition-duration: 0.2s;
}

.right_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin-top: -15px;
    height: 90vh;
}

.paragraph{
    color: rgb(82, 82, 82);
    font-family: var(--font-space);
    font-size: 20px;
    line-height: 30px;
    width: 500px;
}

.hero{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 150px;
}
.arrow{
    margin-top: 6px;
}
.sell{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 100vw;

    font-family: var(--font-space);
    font-size: 36px;
    font-weight: 500;
}

.video:hover{
    color: rgb(170, 0, 255);
    transition-duration: 0.2s;
}